body{
    background-color: lightgray;
}
#cabecalho{
background-color: bisque;
position: relative;
border: solid 2px blue;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.imagem{
    width: 120px;
}

.h2s{
    font-size: 26px;
    color: green;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: lightskyblue;
    height: 30px;
}
.link{
text-decoration: none;
}
.corpotexto{
    display: flex;
    text-align: center;
    font-size: 20pt;
font-family: sans-serif;
color: indigo;
}
.titulo{
    display: flex;
    justify-content: center;
}
.livros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.livro2{
    width: 422px;
}
.livro3{
    height: 520px;
}
.iframe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#iframevid{
    width: 300px;
    height: 300px;
}
#iframemapa{
    width: 300px;
    height: 300px;
}
.tabela{
    border: dashed;
    border-color: red;
justify-content: center;
}
.linhacoluna1{
    border: solid 1px red;
    color: red;
}
.linhacoluna{
 border: solid 1px red;
}

table,tr,th,td{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.sites{
    background-color: yellow;
    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}