body{
    background-color: rgb(225, 250, 242);
    margin-bottom: 25px
}
.p{
    color: rgb(255, 203, 61);
    font-size: 16pt;
    display: flex;
  justify-content: center;
}
.pabaixo{
    color: rgb(255, 203, 61);
    font-size: 16pt;
    display: flex;
  justify-content: center;
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}
#eu{
    color: orange;
    font-size: 19pt;
    display: flex;
  justify-content: center;
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  text-shadow: 2px 2px 4px #b4b4b4;
}
.titulo{
    color: orange;
    display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px #b4b4b4;
}

.pontoturistico{
    color: rgb(255, 117, 186);
    font-size: 16pt;
    display: flex;
  justify-content: center;
}

.link{
text-decoration: none;
color: orange;
font-size: 16pt;
display: flex;
justify-content: center;
}
.link:hover{
    color: rgb(255, 117, 186);
    transform: scale(1.05);
    text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.tabela {
  border: 1px solid rgb(225, 250, 242);
  color: rgb(227, 122, 195);
  font-size: 16pt;
  text-align: center;
  width: 80%;
  margin: 30px auto; 
box-shadow: 0 4px 12px rgba(122, 122, 122, 0.2); 
}
.coluna{
    background-color: rgb(252, 216, 119);
    height: 40px;
}

#menu{
    width: 100%; 
    background-color: rgb(249, 209, 236); 
    border-bottom: 1px solid #dedddd;
    padding: 10px 0;
    border-radius: 16px;
}
.menuhorizontal{
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    margin: 0;
    padding: 0;
}
.menulink { 
    font-size: 13pt; 
    text-decoration: none; 
    color: rgb(255, 44, 209); 
}

.imagem{
    display: block; 
    margin: 0 auto;
    width: 500px;
    border-radius: 15px;
    gap: 20px;
}
.imagem:hover {
  transform: scale(1.05);
}

.iframe { 
    display: block; 
    margin: 20px auto; 
    width: 800px; 
    height: 450px; 
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
} 
.iframe:hover { 
    transform: scale(1.03); 
}
.linktabela{
    color: rgb(255, 44, 209);
    text-decoration: none;
}
.linha{
    background-color: rgb(249, 241, 219);
    height: 40px;
}