body{
    background-color: beige;
    margin: 0;
}
.cabecalho{
    text-align: center;
    align-content: center;
    align-items: center;
}
#titulo{
    text-shadow: 2px 2px 5px gray;
    color: rgba(192, 101, 26, 0.678);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#subtitulo{
    color: rgba(192, 101, 26, 0.678);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
.instrucao{
    color: rgba(199, 121, 57, 0.678);
    display: flex;
    justify-content: center;
}
.digitar{
    text-align: center;
}